body {
  padding: 0 6%;
}

h1 {
  color: #007bff;
  text-shadow: 0 0 2px rgb(1, 49, 94);
  margin-left: 20px;
}

form {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}

label {
  display: block;
  color: #007bff;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

textarea {
  resize: none;
  width: 800px;
  height: 90px;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  font-weight: 300;
  display: block;
  box-shadow: 0 0 7px 1px #007bff;
}

textarea:focus {
  outline: none;
  border: none;
}

button {
  float: right;
  padding: 8px 15px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 0 3px black;
  transition: 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 0 8px black;
}

button:active {
  transform: scale(0.9);
}
